<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>

    <link rel="stylesheet" href="/user/asset/css/index.css">
    <link rel="stylesheet" href="/user/asset/css/addedu.css">

</head>


<body>
    <section id="header" style="height: 50vh;">
        <div class="container">
            <div class="head">
                <div class="logo">
                    <div class="l">
                        <h3>FUDEMY</h3>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/" onclick="cookie()">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="/">Eğitim</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </nav>
                
                <div class="name">
                    <ul>                      
                          <li><a href="#Ders">{{.Name}}</a>
                              <ul>
                                  <li><a href="/mycourse">Kurslarım</a></li>
                                  <li><a href="/addcourse">kurs ekle</a></li>                     
                                  <li><a href="/mycard">kartlarım</a></li>
                                  <li><a href="/exit">çikis</a></li>      
                              </ul>
                          </li>                      
                    </ul>
              </div>
                
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-2">
                        <h1>KURS EKLE</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="edukurs">
        <form action="/update" method="post">
            <div class="h1"><h2>KURS DETAYLARI</h2></div>
            <label for="Title">1- Kursunuz için en uygun başlığı girin  :</label>
            <br>
            <br>
            <input required type="text" name="title" placeholder="başlık">
            <br><br><br>
            <label for="details">2- Kursunuz için en uygun açıklamayı yapın :</label>
            <br>
            <br>
            <textarea name="details" id="" cols="50" rows="5" required placeholder="bir açıklama giriniz"></textarea>
            <br><br><br>
            <label for="image">3- Lütfen bir resim seçin :</label>
            <br><br>
            <input type="file" name="image" accept="image/*,video/*">
            <br><br><br>
            <label for="category">Kursunuzun kategorisini lütfen seçiniz</label>
            <br><br><br>
            <label for="price">4-Lütfen kursunuz için bir fiyat belirleyin :</label>
            <br><br>
            <input type="text" name="price" placeholder="fiyatı">
            <br><br>
            <div class="sumbit">
            <input  type="submit" value="Kaydet"></div>
        </form>

        <div class="video">
            <div class="h1">
                <h2>Kursunuz İçin Video yükleyi</h2>
            </div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="Title">1- videounuzun isminizi  :</label>
            <br>
            <br>
            <input required type="text" name="title" placeholder="başlık">
            <br><br><br>

            
                <input type="hidden" name="token" value="{{.}}">
                <input type="file" name="uploadfile">
                <input type="submit" value="Yükle">
            </form>
        </div>
        
    </section>


</body>

</html>