*{
    margin: 0%;
    padding:0;
}

a{
    text-decoration: none;
}


ul{
    list-style: none;
}

#edu {
    padding: 22px 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%), url(/user/asset/image/headerhacker.jpg);
}

#edu nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#edu .profil{
    margin-left: 300px;
}
#edu nav ul{
    display: flex;

    
}

#edu nav ul li{
    padding: 8px 16PX;
}

#edu nav ul li a{
    font-size: 22px;
    color: red;
}


h1{
 margin: 60px;
    color: white;
text-align: center;
font-size: 50px;
}


.logo h2{
    color: white;
}


.kursekle{
    margin: 40px;
background-color: azure;
}

form .f{
    margin: 30px;
}