* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none
}

a {
    text-decoration: none;
}

#databases {
    padding: 22px 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%), url(/user/asset/image/headerhacker.jpg);
}

#databases .logo {
    color: red;
    border-bottom: 2px solid white;
    border-radius: 100px;
}

#databases .header .head {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#databases nav ul {
    display: flex;
}

#databases nav ul li {
    padding: 10px;
}

#databases nav ul li a {
    color: white;
    font-size: 23px;
}

#databases nav ul li a:hover {
    color: gold;
}

#databases .bas {
    text-align: center;
    padding-top: 40px;
    font-size: 23px;
}

#databases .bas h1 {
    color: blue;
    font-size: 38px;
    margin-top: 30px;
}

#databases .bas h3 {
    color: white;
    margin: 30px;
    font-size: 25px;
}

.sepet a {
    color: white;
    font-size: 18px;
}

.box {
    background-color: gray;
    width: 250px;
    margin: 0px 40px;
    margin-top: 80px;
    padding: 8px;
    display: inline-block;
}

.box h3 {
    text-align: center;
    margin: 40px;
}

.content {
    color: white
}

.box h3 {
    color: red;
    font-size: 18px;
}

.sumbit {
    font-size: 18px;
    margin-left: 50px;
    padding: 8px 25px;
}


