<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="navbar">

        <div class="logo">
            <div class="l">
                <h3>FUDEMY</h3>
            </div>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="#">Ana Sayfa</a>
                </li>
                <li>
                    <a href="#education">Eğitim</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
            </ul>
        </nav>

        <div class="profil">
            <div class="person">
                <h3>{{.FirstName}}{{.LastName}}</h3>
            </div>
        </div>

    </div>

</body>

</html>