<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases</title>

    <link rel="stylesheet" href="/user/asset/css/databases.css">
</head>

<body>
    <section id="databases">
        <div class="header">
            <div class="head">
                <div class="logo">
                    <h2>FUDEMY</h2>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="/#education">Eğitim</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/#about">About</a>
                        </li>
                    </ul>
                </nav>
                <div class="sepet">
                    <a href="/sepet">sepet</a>
                </div>
                <div class="kursekle">
                    <a href="/edu/addcourse">kursekle</a>
                </div>
                <div class="profil">
                    İSİM SOYİSİM
                </div>
            </div>
            <div class="bas">
                <h1>
                    VERİ TABANI YÖNETİM SİSTEMİ
                </h1>
                <h3>Sql,MongoDB,PostreSql Ve Daha Fazlası</h3>
            </div>
        </div>

    </section>
    <div class="row">
        <div class="col3-right">
            {{ range . }}
            <div class="box">
                <div class="image"><img src="" alt="">
                </div>
                <div class="title">
                    <h3>{{.Title}}</h3>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. A accusantium corporis, debitis accusamus et sequi doloribus. Quasi fugit consequuntur ipsum minima cum neque laboriosam? Laudantium quisquam eveniet amet reiciendis sequi.</div>
                <div class="teacher"></div>
                <div class="sepeteekle">
                    <form action="/sepeteekle" method="post">
                        <input type="text" name="id" value="250" style="display:none"><br><br>
                        <input class="sumbit" type="submit" value="Sepete ekle" style="display:block">
                    </form>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    <script src="/user/asset/js/index.js">
    </script>
</body>

</html>